*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page{
  display: flex;
}

.background-image{
  min-width: 35vw;
  height: 100vh;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hook, .user-login{
  background-color: lightgrey;
  padding: 40px;
  width: 65vw;
}

.hook{
  height: 36vh;
  padding-top: 10vh;
}

.message{
  max-width: 700px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.user-signup{
  height: 34vh;
}

form{
  padding: 20px 40px;
  padding-right: 0;
  height: 100%;
}

.tagline{
  padding-bottom: 20px;
}

.inputs{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0px;
  max-width: 700px;
}

p{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  flex: 1 1 50%;
}

input, label{
  display: block;
}

input{
  width: 100%;
  height: 27px;
  border: 1px solid black;
  border-radius: 8px;
}

input:focus{
  outline: none;
  border-color: blue;
  box-shadow: 1px 1px 5px gray;
}

button{
  position: absolute;
  font-size: 1rem;
  margin-top: 60px;
  padding: 10px 50px;
}

.user-login{
  height: 30vh;
}

.login-check{
  margin-top: 60px;
  font-size: 1.1rem;
}

.lie-check{
  color: blue;
}

.lie-check:hover{
  color: darkblue;
}